<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>数独游戏</title>
    <style>
        body {
            background-image: url("../原型素材库/背景_标题.png");
            background-attachment:fixed;
            background-size:100% 100%; 
        }
        img {
            cursor: pointer;
            /* 设置图片大小 */
            width: 500px;
            height: 200px;
            /* 设置图片居中 */
            margin-left: 35%;
            margin-top: 30%;
        }
    </style>
</head>
<body>
    <a>
        <img src="../原型素材库/开始游戏.png"
         alt="开始游戏"  
         onclick="location.href='index.html'">
    </a>
</body>
</html>